{% extends "base.html" %}

{% block content %}
<div class="table-responsive">
	<table  class="table table-striped">
		<thead>
			<tr>
				<th>Process ID</th>
				<th>Process Name</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Duration</th>
				<th>Status</th>
			</tr>
		</thead>
	{% for b in a %}
		<tr>
			<td>{{b.process_id}}</td>
			<td>{{b.name}}</td>
			<td>{{b.start_time|date:'d-F-Y H:i:s:u'}}</td>
			<td>{{b.end_time|date:'d-F-Y H:i:s:u'}}</td>
			<td>{{b.duration|floatformat:6}} Sec</td>
			<td>
			{% if b.status == True %}
			Success
			{% else %}
			Under Process...
			{% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}
