{% load googlecharts %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
  	<link rel="icon" href="/static/images/favicon.png">
</head>
<body>
<div id="wrap">
<div class="header">
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/static/images/home.png" height="50px" width="50px"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/overview">Over view</a></li>
            <li><a href="/process_list">Daily process report</a></li>
            <li><a href="/user_logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
<div class="page-header head">
	<h1>Daily Report</h1>
</div>
<div id="out">
</div>
{% googlecharts %}
    {# named data and options can be reused #}
    {% data values "out_data" %}
        {% col "string" "Name" %}"{{ val }}"{% endcol %}
        {% col "number" "Value" %}{{ val }}{% endcol %}
    {% enddata %}
    {# you can also use global javascript variables here, #}
    {# and call functions #}
    {% options "out_options" %}
        kind: "LineChart",
        options: {
            title:'process dates and their duration in seconds',
        }
    {% endoptions %}
    {# chart is assembled from container, data and options #}
    {% graph "out" "out_data" "out_options" %}
{% endgooglecharts %}
{% block content %}
<div class="spacer"></div>
<div class="table-responsive">
	<table  class="table table-bordered">
		<thead>
			<tr>
				<th>Process ID</th>
				<th>Process Name</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Duration</th>
				<th>Status</th>
			</tr>
		</thead>
	{% for b in a %}
		<tr>
			<td>{{b.process_id}}</td>
			<td><a class="btn btn-link" href="{% url 'chart_view' b.name.id %}">{{b.name}}</a></td>
			<td>{{b.start_time|date:'d-F-Y H:i:s:u'}}</td>
			<td>
			{% if b.end_time %}	
			{{b.end_time|date:'d-F-Y H:i:s:u'}}
			{% else %}
			Still running
			{% endif %}
			</td>
			<td>
			{% if b.duration %}	
			{{b.duration}}
			{% else %}
			-------------------------------
			{% endif %}
			</td>
			<td>
			{% if b.status == "success" %}
			<div class="success">
			<i class="fa fa-check" aria-hidden="true"></i>Success
			</div>
			{% elif b.status == "failed"%}
			<div class="warning">
			<i class="fa fa-spinner fa-spin fa-lg" aria-hidden="true"></i>  Failed
			</div>
			{% else %}
			<div class="warning">
			<i class="fa fa-spinner fa-spin fa-lg" aria-hidden="true"></i>  Under Process.......
			</div>
			{% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}
</div>		
</div>
<div id="footer">
  <p>Copyright © <a href="">Gopi Krishna (gopikrishna766@gmail.com)</a> & Flexisphere Software Solutions Pvt Ltd</p>
</div>
</body>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</html>